body {
    margin: 3rem 0rem;
}

select {
    margin-right: .5rem;
}

#modal-description {
    padding-top: 1rem;
}

#modal-year {
    padding-top: .3rem;
}

table.table.display.dataTable tr {
    cursor: pointer;
}